
@font-face {
    font-family: 'Bahnschrift';
    src: url('https://fonts.cdnfonts.com/s/21353/BAHNSCHRIFT.woff') format('woff');
  }
  

html {
    background-image: url(library.jpg);
    background-size: cover;
    height: 100%;
    
}


body {
    height: 50%;
    width: 90%;
    background-color: rgba(140, 245, 229, 0.529);
    display: table;
    margin: 0 auto;
    vertical-align: middle; 
    margin-top: 10%; 
    border-radius: 20px; 
}

table{
    width: 85%;
    font-family: 'Bahnschrift', sans-serif;
    margin-top: 25px;
    border-style: double;
    border-width: 3px;
    border-color: rgb(104, 37, 26);
    border-radius: 15px;
    margin-left: 6%;
    
}

table thead {
    line-height: 3em;
    text-align: center;
    font-style: bold;
}

.headerspan {
    font-size: 3em;
    letter-spacing: .4em;
}

.days {
    text-align: center;
    margin-top: 30px;
    line-height: 3em;
    font-size: 2em;
    
}

.times {
    text-align: center;
    vertical-align: top;
}

footer {
    margin-top: 100px;
    height: 30%;
    text-align: center;
}
